# Configuration file

scanning {
    # Lower limit for free id scanning [range: -2147483648 ~ 2147483647, default: -100]
    I:lowerLimit=-100

    # Upper limit for free id scanning [range: -2147483648 ~ 2147483647, default: 100]
    I:upperLimit=100
}


