# Configuration file

"settings of console output" {
    # Enable debugging messages in console [default: false]
    B:debug=false
}


"settings of reaction to repeated ids" {
    # If mod detects biome trying to ovverride old one, force Minecraft to crash.
    # Recommendation: do not tuch, may lead to worlds problems [default: true]
    B:crashIfConflict=false

    # If mod detects biome trying to ovverride old one, force Minecraft to crash EVEN IF BIOME ISN'T REGISTERED.
    # Recommendation: do not tuch, may lead to many many many problems [default: true]
    B:ignoreRegistry=true
}


