# Configuration file

crafting {
    B:ThermalExpansion=true
    B:Vanilla=true
}


misc {
    B:ForceShowFrameOverlays=false
    B:NotifyOfUpdates=false
}


overrides {
    B:DisableParticles=false
    B:DisableSounds=false
}


portal {
    I:ActivePortalsPerRow=2
    B:FasterPortalCooldown=false
    B:PortalsDestroyBlocks=false
}


power {
    D:DBSPowerStorageMultiplier=10000.0
    D:PowerMultiplier=100000.0
    B:RequirePower=true
}


