# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=3527ffb8-9f7b-4f01-a5f0-7b18d5f5e84f

    # Set to true to disable all reporting
    B:opt-out=false
}


