# Configuration file

debug {
    # Set to true to write simple debug info to the console. [default: false]
    B:Debug=false

    # You probably don't want to set this to true
    # unless you actually want to debug the mod.
    # It writes quite a lot in the console. [default: false]
    B:"High Output Debug"=false
}


filters {
    # Set to false to disable low pass filter in water and lava. [default: true]
    B:"Use Low Pass?"=true

    # Set to false to disable low pass filter for sounds behind solid walls.
    # If you are getting lag, disabling this might help. [default: true]
    B:"Use Occluded Sounds (muting sounds behind solid walls)?"=true

    # Set to false to disable reverb. [default: true]
    B:"Use Reverb?"=true
}


occlusion {
    # Add new entries (each on a new line) in the format
    #  <block id>-<metadata>-<occlusion double> to customize how much sound
    # they should absorb when they are between you and the sound source.
    # For the metadata, 16 means any metadata value. The amount is a
    # double, with 0.0 absorbing no sound (like air), and 1.0 being the normal
    # amount, and 2.0 being twice the normal amount. By default,
    # wool has entry wool-16-2.0 which is twice the normal sound absorbtion. [default: [wool-16-2.0]]
    S:"Specific block occlusion:" <
        wool-16-2.0
     >
}


reverb {
    # If this is true, when you're in an area that can see the sky, the
    # there will be less reverb. This is for aboveground areas with
    # lots of stone and such like extreme hills biomes. [default: true]
    B:"Do sky checks:"=true

    # If you are getting lag, set this number lower. The higher it is,
    # the more realistic the reverb will be. [range: 0 ~ 2147483647, default: 1024]
    I:"Number of blocks reverb will check through:"=1024

    # Add values to this list (each on a new line) in the format 
    # <block id>-<metadata>-<reverb double>, to change how the block
    # with that metadata absorbs or creates reverb. If the
    # metadata is 16, that means it will apply to any metadata value.
    # By default things like wool, snow, carpets, and plants absorb reverb
    # (value 0.0), things like wood and dirt are neutral (value 1.0),
    # and things like stone, metal, ice, and glass create reverb (value 2.0).
    # So if, say, you wanted to add pumpkins of any metadata to the blocks
    # that create reverb, you would put pumpkin-16-2.0 on a new line. [default: [soul_sand-16-2.0]]
    S:"Specific block reverb:" <
        soul_sand-16-2.0
     >
}


