# Configuration file

coins {
    # Set coin values. First value is not configureable and will be set to 1
    I:"Coin Values" <
        1
        10
        100
        1000
        10000
     >
}


loot {
    # Set to false to disable coinbag spawning in dungeon chests.
    B:"Dungeon CoinBag"=false

    # Rate of coinbag spawning in dungeon chests. Higher value equals more common. Default is 20.
    I:"Dungeon CoinBag Spawnrate"=20

    # Drop multiplier for ender dragon kills. Minimum 1. Default 1,000. Max 100,000
    I:"Ender Dragon Multiplier"=1000

    # Set to false to disable coinbag spawning in mineshaft chests.
    B:"Mineshaft CoinBag"=false

    # Rate of coinbag spawning in mineshaft chests. Higher value equals more common. Default is 20.
    I:"Mineshaft CoinBag Spawnrate"=20

    # Chance of a mob dropping coins. Lower number means higher chance. Minimum 0 (always drop). Default 3 (1 in 4 chance).
    I:"Mob Drop Chance"=3

    # Max mob drop stacksize. Minimum 1. Maximum 200. Default 39.
    I:"Mob Drop Max"=39

    # Set to false to disable mobs dropping coins on death.
    B:"Mob Drops"=false
}


packager {
    # Set the price of large package
    I:"Large Package Price"=40

    # Set the price of medium package
    I:"Medium Package Price"=20

    # Set the price of small package
    I:"Small Package Price"=10
}


recipes {
    # Set to false to disable crafting recipes for ATM.
    B:"ATM Recipe"=true

    # Set to false to disable crafting recipes for Ender Card and Safe.
    B:"Ender Card Recipe"=true

    # Set to false to disable crafting recipes for Packager.
    B:"Packager Recipe"=true

    # Set to false to disable crafting recipes for Redstone Signal Generator.
    B:"Redstone Signal Generator Recipe"=true

    # Set to false to disable crafting recipes for Linking Card.
    B:"Remote Storage Linking Card Recipe"=true

    # Set to false to disable crafting recipes for selling catalog and trade station.
    B:"Trade Station Recipes"=true

    # Set to false to disable crafting recipes for vending blocks.
    B:"Vending Block Recipes"=true

    # Set to false to disable crafting recipes for Vending Frame.
    B:"Vending Frame Recipe"=true
}


"rf utility" {
    # Set to false to disable the power base block.
    B:"Power Base enabled"=true

    # Set to false to disable the power receiver block.
    B:"RF Blocks enabled"=true

    # Set payment per 10 kRF of power bought. Default: 15
    I:"Retail rate"=15

    # Set payment per 10 kRF of power sold. Default: 12
    I:"Wholesale rate"=12
}


"trade station" {
    # Set to false to disable the ability to automatically buy or sell items.
    B:"Auto mode enabled"=true

    # Ratio of sell price to buy price. Set to less than 1.0 to give players a percentage of the full buy price when selling an item. (Range: 0.1 - 1.0)
    D:"Sell Ratio"=0.8

    # Set to false to disable buying items from trade station.
    B:"Trade Station Buy enabled"=true
}


"world generation" {
    # Set the maximum price of items for sale in shops as a percent (min 80,max 300,default 120)
    I:"Maximum shop price"=120

    # Set the minimum price of items for sale in shops as a percent (min 1,max 100,default 80)
    I:"Minimum shop price"=80

    # Probability of adding bank to villages. min 0, max 20, default 6.
    I:"Village bank weight"=6

    # Probably of adding shop to villages. min 0, max 20, default 6.
    I:"Village shop weight"=6

    # Probability of adding trade station to villages. min 0, max 20, default 6.
    I:"Village trade station weight"=6
}


