# Configuration file

classic-e-net {
    # This enables the custom classic-like E-Net. This also disables IC2's own E-Net! [default: true]
    B:enable=true

    # If this is set to true, it will instead of exploding, a machine will just stop accepting energy. [default: false]
    B:enableIC2EasyMode=false
}


general {
    # This will enable the recipe overrider. This means, you can use Ingots instead of plates in crafting recipes. See Uncomplication-Replacement.ini for more information. [default: true]
    B:addCraftingRecipes=false

    # This will enable the MachineRecipeOverrider, so you can use Ingots instead of Plates in machines. [default: true]
    B:addMachineRecipes=false

    # If you set this to true, Uncomplication will add its blocks and items. [default: true]
    B:enableBlocksItems=false

    # This will hide the recipes that are overridden from NEI, so you can't see them anymore. [default: true]
    B:hideOldRecipes=false
}


